@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.container {
	margin: 20px;
	padding: 0px;
	}
.navbar{
	width: 100%;
	height: 120px;
	padding: auto;
	padding-left: 21% !important;
	padding-right: 21% !important;
	margin: auto;
	border-bottom:solid;
	border-bottom-color:#71ab00;
	border-bottom-width: 3px;
	background-color: #000000;
	}
.navbar ul li {
	list-style-type: none;
	float: left !important;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	}
.avatarinfo {
	width: 90%;
	height: auto;
	background-color: #f8f8f8;
	border-color: #A8A7A7;
	border-style:solid;
	border-width:1px;
	border-radius:9px;
	}
.info {
	padding-left: 5%;
}
.avatar {
	padding-left: 37%
}
.proinfo {
	font-size: 25px;
	border-bottom-color: #A8A7A7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1.5%;
	}
.detallproinfo {
	padding-top: 1%;
	}
.workexp {
	font-size: 25px;
	border-bottom-color: #A8A7A7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1.5%;
}
.time1 {
	padding-bottom: 5px;
	padding-top: 5px;
}
.education {
	font-size: 25px;
	border-bottom-color: #A8A7A7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1.5%;
}
.university {
	padding-top: 2%;
}
.nameuni {
	font-size: 18px;
	color: #72AB00;
}
.nameshortcourse {
	font-size: 18px;
	color: #72AB00;
	padding-top: 3%
}
.exp {
	font-size: 25px;
	border-bottom-color: #A8A7A7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 2.8%;
	
}
.skill {
	font-size: 25px;
	border-bottom-color: #A8A7A7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 2.8%;
}
.headerR {
	font-size: 20px;
	color: #72AB00;
	padding-top: 2%;
	list-style-type: none;
}
.listsystem ul li{
	list-style-type: none;
}
.listskill ul li {
	list-style-type: none;
}
.main2 {
	font-size:14px;
	text-align:justify;
	width: 100%;
	height: 120px;
	background-color: #FFFFFF;
	border-right: #878787 solid 1px;
	padding-right:inherit;
	}
.space {
	height: 20px;

	}
.card-footer {
	width: 100%;
	height: 50px;
	}
